.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-principal);
}
.filter-container h4 {
    padding: 20px 0 0 0;
    font-size: 25px;
}
.filter-container .filter-options {
    text-align: center;
}
.filter-container .filter-options p{
    padding: 10px 0;
}
.filter-container .filter-options .title{
    font-size: 16px;
}
.filter-container .filter-options .checkbox {
    display: flex;
    align-items: center;
}
.filter-container .filter-options {
    padding: 10px 0;
}
.filter-container .options-overflow {
    overflow: scroll;
    height: 150px;
    overflow-x: hidden;
    width: 230px;
    margin: auto;
}
.filter-container .text-field label{
    font-size: 14px;
}
.filter-container .filter-options .date-picker {
    transform: scaleX(0.9);
}